<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844320286605-u74t4i63cp5n0vfd627ns1ett1sj9kh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844320286605-u74t4i63cp5n0vfd627ns1ett1sj9kh9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844320286605-6ejj2eajlvmhaohsh2qfi2rm6uf7kntt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm0MDk7AeAS9ydokMnWTw_C1LJ4XQEdy4</string>
	<key>GCM_SENDER_ID</key>
	<string>844320286605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bobtailAssignment</string>
	<key>PROJECT_ID</key>
	<string>bobtail-370ae</string>
	<key>STORAGE_BUCKET</key>
	<string>bobtail-370ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844320286605:ios:205cc19c3cc2c539337fc4</string>
</dict>
</plist>